.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBox {
  height: 40px;
  width: 300px;
  border: solid 1px black;
  padding-left: 15px;
  font-size: 24px;
}

.spacer {
  padding-bottom: 20px;
  padding-top: 20px;
}
